@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

body {
  margin: 0;
  background-color: #fbfbfb;
  font-family: Poppins;
  font-size: 14px;
}

.logo {
  width: 190px;
  height: 166px;
}

.logo1 {
  width: 160px;
  height: 136px;
}

.sidebar-head {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background: #e6e5e5;
  border-radius: 10px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  line-height: 20px;
  margin: 15px;
  border-radius: 20px;
  background: #cbcbcb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  cursor: default;
  font-weight: bolder;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul.sidenav li a.active {
  background: rgba(147, 149, 155, 0.2);
  color: black;
}

ul.sidenav li a:hover:not(.active) {
  background: #2e2d7a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: bold;
}

div.content {
  margin-left: 15%;
  padding: 1px 16px;
}
.mm {
  display: none;
}

::-webkit-scrollbar {
  width: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(147, 149, 155, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(110, 110, 110, 0.8);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #db4c4c;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  ul.sidenav li .logout {
    display: none;
  }

  .mm {
    display: block;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
  ul.sidenav li .logout {
    display: block;
  }
}

.tbl {
  position: relative;
  height: 80%;
  width: 95%;

  border-radius: 10px;
  margin-top: 10px;
  margin-left: 2.5%;
  flex-direction: column;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.display tr {
  background: #cbcbcb !important;
  color: black;
  font-weight: bolder;
}

.display tr td {
  background: #e6e5e5 !important;
  color: black;
  font-weight: bolder;
}

.por {
  margin-left: 1%;
  margin-right: 1%;
  padding-top: -10px;
}
.display {
  color: black;
  box-shadow: 8px 6px 20px 1px rgba(51, 51, 51, 0.83);
  -webkit-box-shadow: 8px 6px 20px 1px rgba(51, 51, 51, 0.83);
  -moz-box-shadow: 8px 6px 20px 1px rgba(51, 51, 51, 0.83);
  font-weight: bolder;
}

.unesi {
  background-color: #2e2d7a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;

  border: none;
  border-radius: 10px;
  width: 80px;
  height: 30px;
}
.unesi_prof {
  background-color: #2e2d7a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  margin: 5px;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 30px;
 
  margin-bottom: 20px;
}

.unesi_prof:hover {
  background-color: #11107d;
}

.unesi:hover {
  background-color: #11107d;
}

.unesi:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-0.5px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

#logoutBtn {
  margin-left: 30%;
}

#podaci {
  color: black;
}

.logout {
  background: rgba(237, 28, 36, 0.75);
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  line-height: 20px;
  margin: 15px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.logout:hover {
  opacity: 0.9;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.naziv {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: black;
  cursor: default;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 270px;
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 25pt;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ikone {
  float: left;
  padding-right: 10px;
}
.ispravi {
  color: #2e2d7a;
  width: 30px;
}
.delete {
  color: rgba(237, 28, 36, 0.75);
  width: 30px;
}

.editTbl {
  margin-left: 25%;
  width: 530px;
  background: #303841;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
  color: black;
}

.nestani {
  display: none;
}

.copy {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: bolder;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copy p {
  margin: 0;
  margin-left: 5px;
}
.copyp {
  margin-top: 350px;
  color: black;
  display: flex;
  font-weight: bolder;
  align-items: center;
}
.copyp p {
  margin: 0;
  margin-left: 5px;
}

.copyl {
  position: absolute;
  bottom: 0;
  color: black;
  font-weight: bolder;
  display: flex;
  margin-bottom: 10px;

  align-items: center;
}

.copyl p {
  margin: 0;
  margin-left: 5px;
}

.vub {
  width: 45px;
  height: 45px;
}

.mail{
  background-color: #2e2d7a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  margin: 5px;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.mail:hover{
  opacity: 0.9;
}

.info{
  color: black;
  font-weight: bold;
}

#podaci{
  position: absolute;
  margin-left: 15px;
  
}
