@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');



.form-container-login {
  width: 300px;
  position: fixed;
  padding: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #CBCBCB;
  border: 1px solid rgba(0, 0, 0, 0.28);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
  color: black;
}

  .form-container-login input[type=email], .form-container-login input[type=password], .form-container-login input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #E6E5E5;
    border-radius: 10px;
    color: black;
  }
  

  .form-container-login input[type=email]:focus, .form-container-login input[type=password]:focus, .form-container-login input[type=text]:focus {
    background-color: #E6E5E5;
    outline: none;
  }

  .form-container-login .btn {
    background-color: #2E2D7A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
 
  }
  
  

  .form-container-login .btn:hover, .open-button:hover {
    opacity: 0.9;
  }

  .prikazi{
      position: fixed;
      color: black;
      height: 200px;
      width: 135px;
      margin-left: 23px;
  }
