@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    margin: 0;
    background-color: rgba(48, 56, 65, 0.91);
    font-family: Poppins;
    font-size: 14px;
}


.logo{
    width: 111px;
    height: 119px;


    
}

 .sidebar-head{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  

    margin-bottom: 30px;
  
   
}


ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background: #303841;
  border-radius: 10px;
  position: fixed;
  height: 100%;
  overflow: auto;


  

}

ul.sidenav li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  line-height: 20px;
  margin: 15px;
  border-radius: 20px;
  background: rgba(147, 149, 155, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  
}
 
ul.sidenav li a.active {
  background-color: #981C21;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
    background: rgba(147, 149, 155, 0.29);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: red;
    font-weight:bold;

}

div.content {
  margin-left: 15%;
  padding: 1px 16px;

}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}




