#events {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #f6f6f6;
    border: 1px solid #999;
    border-radius: 3px;
    height: 100px;
    overflow: auto;
}

.tbl_ucenik{
    position: relative;
    height: 80%;
    width: 95%;
   
    border-radius: 10px;
    margin-left: 2.5%;
    flex-direction: column;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    

}



.logout_ucenik{
  background: rgba(237, 28, 36, 0.75);
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin-left: 2.5%;
    margin-top: 15px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 100px;
    height: 40px;

  
}
.logout_ucenik{
  opacity: 0.9;
  margin-bottom: 10px;
}
.odabrana_tema{
    background-color: #303841;
    color: white;
    height: 200px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.contentt{
    display: flex;
    align-items: center;
    justify-content: center; 

}

.tema{
    font-size: 30px;
    font-weight: bold;

 
}



  @media screen and (max-width: 900px) {
    ul.sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    
    ul.sidenav li a {
      float: left;
      padding: 15px;
    }
    ul.sidenav li .logout {
      
     display: none;
    }
  
    .mm{
      display: block;
    }
    div.contentt {margin-left: 0;}
  
  
    
  }
  
  
  
  @media screen and (max-width: 400px) {
    ul.sidenav li a {
      text-align: center;
      float: none;
    }
    ul.sidenav li .logout {
      
      display: block;
     }
  
  }
  @media only screen and (max-width: 768px) {
    .copyu{
      position: relative;
      bottom: 0;
      color:#b5bbc0 ;
      margin-left: 10px;
      display: flex;
      margin-bottom: 10px;
      align-items: center;
    }
    .dataTables_length{
      display: none;
    }

  
  }

  .copyu{
    position: relative;
    bottom: 0;
    color:black ;
    font-weight: bolder;
    margin-left: 10px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }
  .copyu p{
    margin: 0;
    margin-left: 5px;
  }
  
  .dtr-details{
    list-style-type: none;
  }
  ::marker{
    display: none;
  }

 .obavijest{
  font-size: larger;
  font-weight: bold;
 }

 .form-container-ob{
  width: 360px;
  padding: 15px;
  margin-left: 10px;
  margin-right:10px;
  border: none;
  background: #CBCBCB;
  border-radius: 10px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
  
 }

 
 .form-container-ob .btn {
  background-color: #2E2D7A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 45%;
  margin-bottom:10px;
}
.form-container-ob .btn :hover{
  opacity: 0.9;
}

.form-container-ob .cancel {
  background: rgba(237, 28, 36, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-bottom:10px;
}

.form-container-ob .cancel:hover{
opacity: 0.9;
}

.centar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin-left: 10px;
  margin-right: 10px;
}