@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.form-popup {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 3%;
}

.form-container {
  max-width: 330px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  background: #cbcbcb;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 1px solid rgba(0, 0, 0, 0.28);
  border-radius: 10px;
  color: black;
}

.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="text"],
.form-container input[type="number"] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #e6e5e5;
  border-radius: 10px;
  color: black;
}
.drop {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: rgba(147, 149, 155, 0.2);
  border-radius: 10px;
  text-align: center;
}


.form-container .btn {
  background-color: #2e2d7a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.form-container .cancel {
  background: rgba(237, 28, 36, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 60%;
  margin-bottom: 10px;

}

.form-container .btn:hover,
.open-button:hover {
  opacity: 0.9;
}
.form-container .cancel:hover,
.open-button:hover {
  opacity: 0.9;
}

.prikazi {
  position: fixed;
  color: black;
  height: 200px;
  width: 135px;
  margin-left: 23px;
}
.uputa {
  color: white;
}
